<h1>Bulletins</h1>
<%# BEGIN %>
<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Published</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @bulletins.each do |bulletin| %>
      <tr>
        <td><%= bulletin.title %></td>
        <td><%= bulletin.body %></td>
        <td><%= bulletin.published %></td>
        <td><%= link_to 'Show', bulletin %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%# END %>
